<p id="notice"><%= notice %></p>

<h1>ようこそ<strong> Bookers </strong>へ！</h1>

<table>
  <thead>
    <tr>
      <th><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</th>
      <th>印象を共有し交換することができます</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  </table>


<%= link_to 'start', books_path %>
